@(item: List[Item])

  @main("World's Rarest Items") {
    <h2>Items Currently For Auction</h2>
    <h4>Here is information on Your Items</h4>
    <table>
      <tr><th>Item Number</th><th>Name</th><th>Reserved Price</th><th>Highest Bid</th><th>Highest Bidder</th><th>Status</th></tr>
      @for(i <- item){
        <tr><td>@i.id</td><td>@i.uniqueName</td><td>@i.reservedPrice</td><td>$@i.highestBid</td><td>@i.highestBidder</td>
          @if(i.state == 0) {
            <td>OPEN</td>
          }
          @if(i.state == 1) {
            <td>SOLD!</td>
          }
          @if(i.state == -1) {
            <td>DID NOT SELL</td>
          }
        </tr>
      }
    </table>
  }
